<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Items/Malik/default.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,366},{22,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{22,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>Units/Malik/act1/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,246},{44,32}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{44,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,238},{46,32}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{46,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,260},{46,30}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{46,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,132},{58,42}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{58,42}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,292},{42,42}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{42,42}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,272},{42,42}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{42,42}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act1/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,310},{42,28}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{42,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,428},{36,36}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{36,36}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,324},{38,36}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{38,36}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,340},{40,34}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{40,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,48},{42,36}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,40},{42,36}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,392},{38,34}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{38,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,316},{40,34}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{40,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act2/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,444},{28,28}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{28,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,362},{38,28}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,48},{38,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,420},{38,26}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{38,26}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{40,48}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{40,48}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{42,56}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{42,56}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,92},{40,60}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{40,60}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{40,60}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{40,60}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,90},{40,62}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{40,62}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,154},{24,50}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{24,50}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,286},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{36,40}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,376},{38,34}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{38,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{44,36}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,42},{44,36}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{42,34}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{42,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{24,34}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{24,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,316},{24,34}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{24,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,280},{24,34}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{24,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act3/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{24,32}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{24,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,402},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{44,32}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{44,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,212},{46,32}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{46,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,180},{48,30}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{48,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,228},{48,30}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{48,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,176},{48,30}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{48,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{48,30}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,46},{48,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,92},{60,44}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{60,44}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,182},{48,44}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{48,44}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{48,44}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{48,44}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,208},{48,28}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{48,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,280},{42,28}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{42,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act4/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,310},{42,28}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{42,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,412},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,352},{38,28}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,48},{38,28}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{44,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,48},{42,70}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{42,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{42,70}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{42,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,46},{42,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{42,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{42,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{42,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{44,70}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{46,48}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{46,48}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{38,42}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{38,42}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/act5/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,244},{38,40}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{38,40}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/default.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,92},{28,18}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,61},{28,18}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{28,24}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,50},{28,24}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,336},{30,24}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,50},{30,24}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{28,22}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{28,22}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,392},{26,20}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,59},{26,20}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,122},{26,14}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,64},{26,14}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,92},{28,18}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,61},{28,18}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/die/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,92},{28,18}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,61},{28,18}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/move/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,388},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/move/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{38,32}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,44},{38,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/move/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,352},{38,34}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{38,34}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/move/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{38,32}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,44},{38,32}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Units/Malik/move/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,362},{38,30}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{38,30}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ba06e55ce7f0ce73ec9c861c9c412a:69813caf3ebc5e52d2bbc806e7a1f2d2:b9c2c9c97e88d7197d0aa439da57cd55$</string>
            <key>textureFileName</key>
            <string>Global.png</string>
        </dict>
    </dict>
</plist>
