<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Items/Malik/default.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,214},{22,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{22,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{38,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{38,40}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,130},{38,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,46},{38,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,172},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,214},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,90},{38,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{38,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,46},{38,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,132},{38,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,174},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,90},{38,42}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/healthbar/healthbar_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>UI/healthbar/healthbar_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{128,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd53fc4f95f7041899b93a7c3ee5a20:2f24f65e5b9e3856fabeb5eff5c65921:193f2f8e6e002b54e84b1ea9f659575a$</string>
            <key>textureFileName</key>
            <string>Global0.png</string>
        </dict>
    </dict>
</plist>
