<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effects/Heal/Big/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{52,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{52,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,166},{52,60}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,348},{42,32}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{42,32}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Small/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,220},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,300},{38,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,306},{38,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{38,40}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Help/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,44},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,44},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Help/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,86},{78,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Effects/Kidnap/WomanMove/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,228},{38,60}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,43},{38,60}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>Effects/Kidnap/WomanMove/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{38,62}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,42},{38,62}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>Effects/Kidnap/WomanMove/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,126},{38,62}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,41},{38,62}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>Effects/Kidnap/WomanMove/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{38,60}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,43},{38,60}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>Effects/Sheep/Move/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,266},{44,38}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{44,38}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>Effects/Sheep/Move/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,386},{38,34}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{38,34}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>Effects/Stun/Big/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{52,60}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Stun/Big/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{44,60}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{44,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Stun/Small/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,340},{38,40}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Stun/Small/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,220},{46,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{46,32}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Stun/Small/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,268},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Stun/Small/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,288},{44,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Stun/Small/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,128},{34,38}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Stun/Small/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{34,38}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,368},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,382},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{38,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{38,40}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{38,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,308},{38,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,436},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,422},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,464},{38,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{38,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{38,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,408},{38,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,450},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/ph32.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI/pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI/status/CrystalArmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,208},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,38}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>UI/status/HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>UI/status/HeavyArmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,248},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,38}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>UI/status/icon_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,422},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,38}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>UI/status/icon_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,380},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>UI/status/icon_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,346},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,38}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:858379f4e907962932801bb635e4c0da:d41241f68e77dadb22b34425159974d7:6b10dddd3703c0167c193d86a3f92921$</string>
            <key>textureFileName</key>
            <string>Global1.png</string>
        </dict>
    </dict>
</plist>
