<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Units/Alric/act1/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,216},{52,54}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,114},{52,54}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>Units/Archer/die/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{54,50}}</string>
                <key>offset</key>
                <string>{-27,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,102},{54,50}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/FrostBolt/die/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,116},{56,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{56,50}}</string>
                <key>sourceSize</key>
                <string>{116,68}</string>
            </dict>
            <key>Units/KungFu/act1/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,58}}</string>
                <key>offset</key>
                <string>{1,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,222},{50,54}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,284},{50,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,56}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,283},{56,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{54,54}}</string>
                <key>offset</key>
                <string>{5,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,285},{54,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{52,54}}</string>
                <key>offset</key>
                <string>{4,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,284},{52,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,54},{56,54}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,285},{56,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,164},{50,56}}</string>
                <key>offset</key>
                <string>{-1,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,282},{50,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{50,58}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/move/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,60},{54,56}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,282},{54,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/Mage/die/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,60},{52,56}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,79},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/die/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,114},{52,56}}</string>
                <key>offset</key>
                <string>{-18,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,79},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/die/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,168},{52,54}}</string>
                <key>offset</key>
                <string>{-21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,82},{52,54}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/move/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,56}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,83},{56,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Matchstick/act3/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,222},{52,54}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,72},{52,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Units/Mirage/act2/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,270},{52,54}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,75},{52,54}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act2/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,168},{54,52}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,76},{54,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,274},{50,54}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,74},{50,54}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,276},{52,52}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,79},{52,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,110},{56,52}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,79},{56,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{56,52}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,79},{56,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/die/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{56,56}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,72},{56,56}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0e9f6680b2804dab0d2857a07020c7:5eeb16713a5d68caa67aa663dd8ff6df:226fae45a97281ac66f401927e24226f$</string>
            <key>textureFileName</key>
            <string>Global6.png</string>
        </dict>
    </dict>
</plist>
