<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effects/Burn/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,60}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{68,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Burn/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,126},{52,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Burn/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{52,58}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Burn/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{38,42}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Burn/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,42},{38,42}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Fire/Big/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{44,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{44,52}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Fire/Big/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,248},{46,52}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Fire/Big/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,162},{46,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{46,56}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,234},{54,44}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{54,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{52,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,180},{52,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Big/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,256},{46,52}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Heal/Small/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,82},{38,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,122},{38,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Heal/Small/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{38,40}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Effects/Soldier/Move/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{52,58}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{52,58}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>Effects/Stun/Big/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{66,58}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>Effects/Stun/Small/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{38,40}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>Sprites/Archer/die/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,188},{58,58}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,78},{58,58}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Sprites/Archer/die/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{58,44}}</string>
                <key>offset</key>
                <string>{-30,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,108},{58,44}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Sprites/Barracks/act3/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,62}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,75},{62,62}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>Sprites/Barracks/die/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{64,64}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,74},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>Sprites/Wizard/act1/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,64}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,62},{68,64}}</string>
                <key>sourceSize</key>
                <string>{144,156}</string>
            </dict>
            <key>Sprites/Wizard/act1/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,64}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,62},{68,64}}</string>
                <key>sourceSize</key>
                <string>{144,156}</string>
            </dict>
            <key>Sprites/Wizard/move/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,64},{68,60}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,65},{68,60}}</string>
                <key>sourceSize</key>
                <string>{144,156}</string>
            </dict>
            <key>UI/HeroInfo/Die.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,296},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{52,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/HeroInfo/HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,342},{48,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{48,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/HeroInfo/MagicalArmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,304},{44,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/HeroInfo/PhysicalArmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,328},{44,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/HeroInfo/Revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,280},{46,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,392},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,414},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,350},{38,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,432},{38,40}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,472},{38,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,394},{38,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,454},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,454},{38,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,374},{38,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/coin/nextwave_coin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,396},{38,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI/status/icon_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,436},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,38}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aff33384a68a7e39aea2bd950e65529a:cfc79a87d0015f80548f1cb34f5a792e:5c3db91cceccfc50472d3c8e3a1b53b6$</string>
            <key>textureFileName</key>
            <string>Global2.png</string>
        </dict>
    </dict>
</plist>
