<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Units/Alric/act1/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{52,54}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,114},{52,54}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>Units/Archer/die/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,270},{54,50}}</string>
                <key>offset</key>
                <string>{-27,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,102},{54,50}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/KungFu/act1/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{50,58}}</string>
                <key>offset</key>
                <string>{1,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act1/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{50,46}}</string>
                <key>offset</key>
                <string>{-3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,293},{50,46}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,276},{50,54}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,284},{50,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{56,56}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,283},{56,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{54,54}}</string>
                <key>offset</key>
                <string>{5,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,285},{54,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,216},{52,54}}</string>
                <key>offset</key>
                <string>{4,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,284},{52,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{56,54}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,285},{56,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,164},{50,56}}</string>
                <key>offset</key>
                <string>{-1,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,282},{50,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{50,58}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act2/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{50,58}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act4/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,54},{50,58}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,280},{50,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/act6/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{48,54}}</string>
                <key>offset</key>
                <string>{0,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,284},{48,54}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/move/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,58}}</string>
                <key>offset</key>
                <string>{3,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,281},{52,58}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/KungFu/move/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,54},{54,56}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,282},{54,56}}</string>
                <key>sourceSize</key>
                <string>{360,412}</string>
            </dict>
            <key>Units/Mage/die/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,164},{52,56}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,79},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/die/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,56}}</string>
                <key>offset</key>
                <string>{-18,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,79},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/die/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,222},{52,54}}</string>
                <key>offset</key>
                <string>{-21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,82},{52,54}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Mage/move/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,54},{56,56}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,83},{56,56}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>Units/Matchstick/act3/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,272},{52,54}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,72},{52,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Units/Mirage/act1/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{50,46}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,83},{50,46}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,430},{50,46}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,83},{50,46}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act2/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{52,54}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,75},{52,54}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act2/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,218},{54,52}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,76},{54,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,326},{50,54}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,74},{50,54}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,322},{52,52}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,79},{52,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,328},{52,52}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,79},{52,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,110},{56,52}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,79},{56,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/act3/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{56,52}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,79},{56,52}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Mirage/die/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,106},{56,56}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,72},{56,56}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>Units/Wizard/act4/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,378},{50,48}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,95},{50,48}}</string>
                <key>sourceSize</key>
                <string>{144,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Heroes6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:164286376505720fcbb595e6ffe70c1c:51ee621e799719639a02f455865c3d4c:e6a3ae3d4a8f5548e27217f53cf27eab$</string>
            <key>textureFileName</key>
            <string>Heroes6.png</string>
        </dict>
    </dict>
</plist>
