<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Bat_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>Bat_0002.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {24, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{48, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 994}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Bat_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>Bat_0004.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {32, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{32, 18}</string>
			<key>spriteSourceSize</key>
			<string>{48, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1178, 994}, {32, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Bat_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>Bat_0006.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {28, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{28, 24}</string>
			<key>spriteSourceSize</key>
			<string>{48, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1126, 994}, {24, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Bat_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>Bat_0008.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {40, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 14}</string>
			<key>spriteSourceSize</key>
			<string>{48, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1212, 994}, {40, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>achievement_award.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {542, 210}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{542, 210}</string>
			<key>spriteSourceSize</key>
			<string>{556, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1582, 418}, {210, 542}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>but_nextprev_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{110, 94}</string>
			<key>spriteSourceSize</key>
			<string>{112, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1036, 230}, {110, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>but_nextprev_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{110, 94}</string>
			<key>spriteSourceSize</key>
			<string>{112, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1856, 920}, {110, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>button_back_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 13}, {122, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{122, 124}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 230}, {122, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>button_back_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {128, 130}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{128, 130}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 194}, {128, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chain.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 488}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 488}</string>
			<key>spriteSourceSize</key>
			<string>{60, 488}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1980, 418}, {60, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>comicContinue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {444, 96}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{444, 96}</string>
			<key>spriteSourceSize</key>
			<string>{460, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 0}, {444, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_big_frame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {438, 416}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{438, 416}</string>
			<key>spriteSourceSize</key>
			<string>{448, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1582, 0}, {438, 416}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_frame0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{132, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1044, 98}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_frame0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{132, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 98}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelBig.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {478, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{478, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1090, 360}, {478, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 300}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 350}, {52, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_infopanelIcons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {66, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{66, 50}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 316}, {66, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {36, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{36, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1794, 920}, {60, 36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_infopanelIcons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1036, 326}, {52, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_infopanelIcons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 368}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {50, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{50, 54}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 244}, {50, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {44, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{44, 50}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{888, 356}, {50, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_infopanelIcons_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1806, 958}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_infopanelIcons_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {32, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{32, 50}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 396}, {50, 32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_infopanelSmall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {222, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 46}</string>
			<key>spriteSourceSize</key>
			<string>{224, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1582, 962}, {222, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_tip.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 164}</string>
			<key>spriteSourceSize</key>
			<string>{192, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1212, 0}, {164, 192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>encyclopedia_tower_thumbs_frames_0002.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {178, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{178, 166}</string>
			<key>spriteSourceSize</key>
			<string>{180, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1378, 180}, {166, 178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_frames_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {178, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{178, 166}</string>
			<key>spriteSourceSize</key>
			<string>{180, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1378, 0}, {166, 178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>notifications_tit_generics_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {750, 238}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{750, 238}</string>
			<key>spriteSourceSize</key>
			<string>{768, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 784}, {750, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pause_sign.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {500, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{500, 184}</string>
			<key>spriteSourceSize</key>
			<string>{500, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1794, 418}, {184, 500}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>soundcontrol_music_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {74, 68}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{74, 68}</string>
			<key>spriteSourceSize</key>
			<string>{92, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1306, 276}, {68, 74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>soundcontrol_music_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {86, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{86, 70}</string>
			<key>spriteSourceSize</key>
			<string>{92, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 244}, {86, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soundcontrol_sfx_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {80, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{80, 68}</string>
			<key>spriteSourceSize</key>
			<string>{92, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1306, 194}, {68, 80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>soundcontrol_sfx_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {86, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{86, 70}</string>
			<key>spriteSourceSize</key>
			<string>{92, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1968, 920}, {70, 86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tit_bg_big.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {828, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{828, 210}</string>
			<key>spriteSourceSize</key>
			<string>{828, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 782}, {828, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>transitionLoading_left.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{640, 452}, {384, 782}}</string>
			<key>spriteOffset</key>
			<string>{320, -75}</string>
			<key>spriteSize</key>
			<string>{384, 782}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {384, 782}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>transitionLoading_right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 452}, {378, 780}}</string>
			<key>spriteOffset</key>
			<string>{-323, -74}</string>
			<key>spriteSize</key>
			<string>{378, 780}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 0}, {378, 780}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>waveFlag_selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 144}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 98}, {144, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>waveFlag_tooltip_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {372, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{372, 20}</string>
			<key>spriteSourceSize</key>
			<string>{372, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 994}, {372, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>sprite_common_32hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>common_spritesheet_32-ipadhd.png</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
</dict>
</plist>
