<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Stage_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creeps_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {402, 382}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{402, 382}</string>
			<key>spriteSourceSize</key>
			<string>{448, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1208, 1538}, {402, 382}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creeps_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {402, 382}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{402, 382}</string>
			<key>spriteSourceSize</key>
			<string>{448, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 1538}, {402, 382}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creeps_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {402, 382}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{402, 382}</string>
			<key>spriteSourceSize</key>
			<string>{448, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1612, 1538}, {402, 382}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_towers_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 388}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 388}</string>
			<key>spriteSourceSize</key>
			<string>{400, 388}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 1538}, {400, 388}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_towers_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 388}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 388}</string>
			<key>spriteSourceSize</key>
			<string>{400, 388}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1538}, {400, 388}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>sprite_level6_2hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>sprite_level6_2-ipadhd</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>sprite_level6_2-ipadhd</string>
		</dict>
		<key>version</key>
		<string>1.5.3</string>
	</dict>
</dict>
</plist>
